 *{
	box-sizing: border-box;
}
/* body{
	background-color: #3498DB;
	font-family: "Arial", sans-serif;
	padding: 50px;
} */
.auth-container{
	display: flex;
	direction: column;
	align-content: start;
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	/* border-radius: 5px; */
	margin: 20px auto;
	padding: 10px;
}

.auth-img{
	width: 100%;
	height: 100vh;
	/* align-self: flex-end; */
	/* background-color: red; */
}

 .auth-div h1{
	color: #777;
	font-family: "Gill Sans", sans-serif;
	text-align: Start;
    letter-spacing: .15rem;
	font-size: 50px;
	margin: 28px auto;
	margin-bottom: 20px;
	padding-top: 40px;
}
 form{
	text-align: start;
	width: 30vw;
	padding: 15px 15px;; 
	margin: 15px 15px;
}
input{
	border-radius: 3px;
	border: 2px solid transparent;
	text-align: start;
	width: 90%;
	font-size: 0.8rem;
	border: 1px solid black;
	transition: border .2s, background-color .2s;
	padding: 12px 0;
	margin: 15px 15px
	/* margin-bottom: 10px; */
}
form .label{
	text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: .15rem;
	/* background-color: #ECF0F1; */
	/* background-color: white;
	border: black;
	border: 1px; */
}
form .label:focus {
	border: 2px solid black;
}
form .btn{
	background-color: black;
	text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: .15rem;
	color: #fff;
	line-height: 25px;
	cursor: pointer;
	border-radius: 3px;
	border: 2px solid transparent;
	margin: 10px 0;
	padding: 3px 5px; 
}
form .btn:hover, input:hover,
form .btn:active, input:active {
	background-color: lightgray;
	color: black;
	border: 2px solid #1F78B4;
}
