*{
	box-sizing: border-box;
}
/* body{
	background-color: #3498DB;
	font-family: "Arial", sans-serif;
	padding: 50px;
} */
container{
	/* display: flex;
	direction: column; */
    position: relative;
	align-content: start;
	width: auto;
	height: 100vh;
	background-color: #fff;
	/* border-radius: 5px; */
	margin: 20px auto;
	padding: 10px;
    z-index:1;
}

.img-container {
	display: flex;
	direction: column;
}

@media screen and (max-width:700px) {
	.img-container {
		flex-direction: column;
	}
}

.prof-img{
	/* width: 100%;
	height: 100%; */
    z-index: 0;
	height: 100%;
	width: 50vw;
	/* align-self: flex-end; */
	/* background-color: red; */
}
.prof-img-2{
	/* width: 100%;
	height: 100%; */
    z-index: 0;
	width: 50vw;
	/* padding: 0 0 0 10%; */
	/* position: fixed; */
	bottom: 5;
	right: 0;
	/* align-self: flex-end; */
	/* background-color: red; */
}

 .auth-div h1{
	color: #777;
	font-family: "Gill Sans", sans-serif;
	text-align: Start;
    letter-spacing: .15rem;
	font-size: 50px;
	margin: 28px auto;
	margin-bottom: 20px;
	padding-top: 40px;
}

.auth-div h2{
    position: absolute;
	color: rgb(135, 134, 134);
	font-family: "Gill Sans", sans-serif;
	text-align: start;
    letter-spacing: .15rem;
	font-size: 18px;
	margin: 28px auto;
	margin-bottom: 20px;
	padding: 200px 0 0 15px ;
}

 .edit-credentials {
	text-align: start;
	width: 400px;
	padding: 15px 15px;; 
	margin: 15px 15px;
	position: absolute;
	top: 10px
}


input{
	border-radius: 3px;
	border: 2px solid transparent;
	text-align: start;
	width: 90%;
	font-size: 0.8rem;
	border: 1px solid black;
	transition: border .2s, background-color .2s;
	padding: 12px 0;
	margin: 15px 15px
	/* margin-bottom: 10px; */
}
form .label{
	text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: .15rem;
	color: white;
	/* background-color: #ECF0F1; */
	/* background-color: white;
	border: black;
	border: 1px; */
}
form .label:focus {
	border: 2px solid black;
}
form .btn{
	background-color: lightgray;
	text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: .15rem;
	color: black;
	line-height: 25px;
	cursor: pointer;
	border-radius: 3px;
	border: 2px solid transparent;
	margin: 10px 0;
	padding: 3px 5px; 
}
form .btn:hover, input:hover,
form .btn:active, input:active {
	background-color: lightgray;
	color: black;
	/* border: 2px solid #1F78B4; */
}



