.profile-header {
    color: rgb(255, 255, 255);
	font-family: "Gill Sans", sans-serif;
	text-align: Start;
    letter-spacing: .15rem;
	font-size: 56px;
	margin: 28px auto;
	margin-bottom: 20px;
	padding-top: 40px;
	margin-left: 20px;
}
 
.profile-header-1 {
    color: #777;
	font-family: "Gill Sans", sans-serif;
	text-align: Start;
    letter-spacing: .15rem;
	font-size: 45px;
	margin: 28px auto;
	margin-bottom: 20px;
	padding-top: 40px;
}

.profile-edit-btn {
	background-color: rgba(255, 255, 255, 0.799);
	text-transform: uppercase;
	font-family: "Gill Sans", sans-serif;
    font-size: 1rem;
    letter-spacing: .15rem;
	color: rgb(0, 0, 0);
	line-height: 25px;
	cursor: pointer;
	border-radius: 3px;
	border: 2px solid transparent;
	margin: 10px 0;
	padding: 3px 5px; 
	margin-left: 20px;
}

.profile-img {
    width: 100%;
	object-fit: contain;
}

.profile-background {
	background-image: url("https://res.cloudinary.com/cboese/image/upload/v1653118965/paris_xbewqx.webp");
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    margin-top: 1rem;
}