#promo {
    height: 200px;
    background-color: pink;
    padding: 20px;
    box-sizing: border-box;
    border: 10px solid red;
    margin: 10px;
  }

  #promo-box {
      display: flex;
      justify-content: flex-start;
  }