.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search {
    display: flex;
    flex-direction: row;
}

.search-bar {
    margin: 5px
}

.mic {
    margin: 5px
}

.auth-btn {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: rgb(208, 203, 203);
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.auth-btn:hover {
        background-color: #f0b87c;
        color: white;
      }
      